* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";


}

@font-face {
    font-family: "Montserrat";
    src: url('Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: "SemiBold";
    src: url('Montserrat/static/Montserrat-SemiBold.ttf');
}

body {
    background-color: #D4C2AE;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.48) 24%, rgba(0, 0, 0, 0.7344187675070029) 49%, rgba(0, 0, 0, 0.9501050420168067) 93%);
}

#header img {
    margin-left: 15px;
    width: 110px;
}

.header nav a {
    margin: 0 25px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header {
    background-size: cover;
    background-image: url(/Ana/menu.png);
    height: 500px;
    background-color: rgba(0, 0, 0, 0.433);
}

h1 {
    color: #fff;
    font-size: 64px;
    font-family: "SemiBold";
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 150px;
    text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

h3 {
    font-family: "bold";
    color: white;
    font-size: 40px;
    width: 598px;
}


.header nav a:hover {
    color: #e0a848;
}

.login {
    display: flex;
    align-items: center;
}

.login-link {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
    font-size: 16px;
}

.order-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #D98A38;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "SemiBold";
}

.order-button:hover {
    background-color: #c88124;
}

.imagem img {
    width: 100%;
}

.linha {
    background-color: #4f382095;
    height: 2px;
    margin-top: 80px;
    margin-left: 285px;
    width: 940px;

}


.container {
    background-color: #B68A5A;
    width: 990px;
    height: 230px;
    border-color: #624423;
    border-radius: 9.12px;
    border: 4px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 260px;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;


}

.comida img {
    width: 190px;
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 18px;
}

.comida h3 {
    font-family: "SemiBold";
    font-size: 30px;
    margin-left: 10px;
    margin-top: 20px;

}

.juntos p {
    font-family: "Montserrat";
    font-size: 16px;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: justify;
    top: 100px;

}

.preco h4 {
    font-family: "SemiBold";
    font-size: 18px;
    margin-right: 50px;
    margin-bottom: 10px;
    text-align: left;
}


.comida {
    justify-content: center;
    align-items: flex-end;
    display: flex;

}

footer {
    background-image: url(/fotos2/footer.png);
    width: 1519px;
    height: 637px;
    padding: 20px;
    margin-top: 100px;
}

.duvidas,
.duvidass {
    justify-content: center;
    align-items: top;
    display: flex;
}

.duvidas p {
    font-size: 60px;
    font-family: "Montserrat";
}

.fale {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 120px;
    margin-right: 690px;
}

.falee {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-right: 600px;
}

.fale p {
    font-size: 24px;
    margin-left: 20px;
}

.falee p {
    font-size: 24px;
    margin-left: 20px;
}

.fale img {
    width: 50px;
}

.falee img {
    width: 50px;
}

.botao button {
    background-color: #D98A38;
    color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 400px;
    margin-top: 20px;
}

.botao button:hover {
    background-color: #c87a2e;
}

.redes {
    justify-content: center;
    align-items: bottom;
    display: flex;
    margin-top: 134px;

}