* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Montserrat";
    src: url(/Mont/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(/Mont/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Semibold";
    src: url(Mont/Montserrat-SemiBold.ttf);
}



a {
    font-family: "Montserrat";
    color: white;
    font-size: 20px;
    text-decoration: none;
    gap: 30px;
}


.cart-dropdown h3 {
    color: black;
    font-size: 20px;
}