* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";


}

@font-face {
    font-family: "Montserrat";
    src: url('Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: "SemiBold";
    src: url('Montserrat/static/Montserrat-SemiBold.ttf');
}

body {
    background-color: #D4C2AE;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.48) 24%, rgba(0, 0, 0, 0.7344187675070029) 49%, rgba(0, 0, 0, 0.9501050420168067) 93%);
}

#header img {
    margin-left: 15px;
    width: 110px;
}

.header nav a {
    margin: 0 25px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header {
    background-size: cover;
    background-image: url(/Ana/menu.png);
    height: 500px;
    background-color: rgba(0, 0, 0, 0.433);
}

h1 {
    color: #fff;
    font-size: 64px;
    font-family: "SemiBold";
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 150px;
    text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.header nav a:hover {
    color: #e0a848;
}

.login {
    display: flex;
    align-items: center;
}

.login-link {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
    font-size: 16px;
}

.order-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #D98A38;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "SemiBold";
}

.order-button:hover {
    background-color: #c88124;
}

.imagem img {
    width: 100%;
}
footer {
    background-image: url(imagens/fundooooo.png);
    width: 1519px;
    height: 637px;
    padding: 20px;
    margin-top: 100px;
}

.duvidas,
.duvidass {
    justify-content: center;
    align-items: top;
    display: flex;
}

.duvidas p {
    font-size: 60px;
    font-family: "Montserrat";
}

.fale {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 120px;
    margin-right: 690px;
}

.falee {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-right: 600px;
}

.fale p {
    font-size: 24px;
    margin-left: 20px;
}

.falee p {
    font-size: 24px;
    margin-left: 20px;
}

.fale img {
    width: 50px;
}

.falee img {
    width: 50px;
}

.botao button {
    background-color: #D98A38;
    color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 400px;
    margin-top: 20px;
}

.botao button:hover {
    background-color: #c87a2e;
}

.redes {
    justify-content: center;
    align-items: bottom;
    display: flex;
    margin-top: 134px;

}

/* Geral */
.menu-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 50px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none; /* Remove underline do link */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    height: 750px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; /* Apenas no topo */
}



.card:hover h2 {
    color: #000; /* Muda a cor do título ao hover */
}

footer {
    background-image: url(/fotos2/footer.png);
    width: 1518px;
    height: 600px;
    margin-top: 100px;
}

.duvidas,
.duvidass {
    justify-content: center;
    align-items: top;
    display: flex;
}

.duvidas p {
    font-size: 60px;
    font-family: "Montserrat";
    color: #f9f9f9;
}

.fale {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 120px;
    margin-right: 690px;
}

.falee {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-right: 600px;
}

.fale p {
    font-size: 24px;
    margin-left: 20px;
    color: #ffffff;
}

.falee p {
    font-size: 24px;
    margin-left: 20px;
    color: #ffffff;
}

.fale img {
    width: 50px;
}

.falee img {
    width: 50px;
}

.botao button {
    background-color: #D98A38;
    color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 400px;
    margin-top: 20px;
}

.botao button:hover {
    background-color: #c87a2e;
}

.redes {
    justify-content: center;
    align-items: bottom;
    display: flex;
    margin-top: 134px;

}

footer p {
    color: #ffffff;
}

.perguntas {
    background-color: #D7C3AF;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
